Repository connect0459/hono-onion-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check, tests

prettier:
  name: Prettier
  entry: npx prettier --write
  language: node
  additional_dependencies:
  - prettier@3.6.2

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node
  additional_dependencies:
  - eslint@9.33.0
  - '@typescript-eslint/parser@8.40.0'
  - '@typescript-eslint/eslint-plugin@8.40.0'
  - eslint-config-prettier@10.1.8
  - eslint-plugin-prettier@5.5.4

typescript-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: node
  pass_filenames: false

tests:
  name: Run Tests
  entry: npm test
  language: node
  pass_filenames: false

fix: 設定を変更
  .prettierrc
Due: none

build: 依存関係の更新
  package-lock.json
  package.json
Due: prettier

fix: 依存関係はpackage.jsonに統一
  .pre-commit-config.yaml
Due: prettier

chore: ファイルのフォーマット
  .editorconfig
  .prettierignore
Due: none

fix: ファイルのフォーマット
  eslint.config.js
  src/infrastructure/repositories/in-memory-user-repository.ts
  src/presentation/controllers/user-controller.ts
  src/registry/index.ts
  test/application/interfaces/user-usecase-interface.test.ts
  test/application/usecases/user-usecase.test.ts
  test/domain/entities/user.test.ts
  test/domain/repositories/user-repository.test.ts
  test/infrastructure/repositories/in-memory-user-repository.test.ts
  test/integration/api.test.ts
  test/presentation/controllers/user-controller.test.ts
  test/presentation/interfaces/user-controller-interface.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier, eslint, typescript-check, tests

fix: tomlのチェックを削除
  .pre-commit-config.yaml
Due: prettier

build: zodを追加
  package-lock.json
  package.json
Due: prettier

fix: 無効なオプションを削除
  .prettierrc
Due: none

feat: UserエンティティにZodバリデーションを導入
  src/domain/entities/user.ts
Due: prettier, eslint, typescript-check, tests

feat: DTOパターンを導入してAPIレイヤーの型安全性を強化
  src/application/dtos/problem-details.dto.ts
  src/application/dtos/user-dto.ts
Due: prettier, eslint, typescript-check, tests

feat: ドメイン例外クラスを追加して例外ベースのエラーハンドリングを実装
  src/domain/exceptions/user-exceptions.ts
Due: prettier, eslint, typescript-check, tests

feat: RFC9457準拠の例外ハンドラーを実装
  src/index.ts
  src/presentation/exception/handler.ts
Due: prettier, eslint, typescript-check, tests

refactor: UserControllerを例外ベースアーキテクチャに移行
  src/presentation/controllers/user-controller.ts
Due: prettier, eslint, typescript-check, tests

test: 例外ベースアーキテクチャに対応したテストを更新
  test/application/usecases/user-usecase.test.ts
  test/integration/api.test.ts
  test/presentation/controllers/user-controller.test.ts
Due: prettier, eslint, typescript-check, tests

fix: `public readonly`からオブジェクトの振る舞いとして再定義
  src/application/dtos/user-dto.ts
  src/domain/entities/user.ts
  src/domain/repositories/user-repository.ts
  src/infrastructure/persistence/in-memory-user-repository.ts
  src/presentation/controllers/user-controller.ts
  src/registry/index.ts
  test/domain/entities/user.test.ts
  test/infrastructure/repositories/in-memory-user-repository.test.ts
  test/integration/api.test.ts
Due: prettier, eslint, typescript-check, tests

docs: READMEを更新
  README.md
Due: prettier

fix: 不要なexportや変数を削除
  src/application/dtos/user-dto.ts
  src/domain/entities/user.ts
Due: prettier, eslint, typescript-check, tests

fix: exceptionsもentitiesと同様に振る舞いとして再実装
  src/domain/exceptions/user-exceptions.ts
  src/presentation/exception/handler.ts
Due: prettier, eslint, typescript-check, tests

fix: statusCodeやtypeもprivateに変更してリファクタリング
  src/domain/exceptions/user-exceptions.ts
  src/presentation/exception/handler.ts
Due: prettier, eslint, typescript-check, tests

fix: ProblemDetailsDtoも同様にカプセル化
  src/application/dtos/problem-details.dto.ts
Due: prettier, eslint, typescript-check, tests

docs: CLAUDE.mdを追加
  CLAUDE.md
Due: prettier

refactor: convert domain layer to functional style
  src/domain/entities/user.ts
  src/domain/exceptions/user-exceptions.ts
  src/domain/repositories/user-repository.ts
  test/domain/entities/user.test.ts
  test/domain/repositories/user-repository.test.ts
Due: prettier, eslint, typescript-check, tests

refactor: convert infrastructure layer to functional style
  src/infrastructure/persistence/in-memory-user-repository.ts
  test/domain/repositories/user-repository.test.ts
  test/infrastructure/repositories/in-memory-user-repository.test.ts
Due: prettier, eslint, typescript-check, tests

refactor: convert application layer to functional style
  src/application/dtos/user-dto.ts
  src/application/interfaces/user-usecase-interface.ts
  src/application/usecases/user-usecase.ts
  test/application/interfaces/user-usecase-interface.test.ts
  test/application/usecases/user-usecase.test.ts
Due: prettier, eslint, typescript-check, tests

refactor: convert presentation layer to functional style
  src/application/dtos/problem-details.dto.ts
  src/presentation/controllers/user-controller.ts
  src/presentation/exception/handler.ts
  src/presentation/interfaces/user-controller-interface.ts
  test/presentation/controllers/user-controller.test.ts
Due: prettier, eslint, typescript-check, tests

refactor: complete functional programming transformation
  src/domain/exceptions/user-exceptions.ts
  src/index.ts
  src/presentation/exception/handler.ts
  src/presentation/routes/index.ts
  src/registry/index.ts
  test/integration/api.test.ts
Due: prettier, eslint, typescript-check, tests

fix: pre-commitの適用
  src/application/dtos/problem-details.dto.ts
  src/application/dtos/user-dto.ts
  src/application/interfaces/user-usecase-interface.ts
  src/domain/exceptions/user-exceptions.ts
  src/presentation/exception/handler.ts
  test/application/usecases/user-usecase.test.ts
  test/domain/repositories/user-repository.test.ts
  test/presentation/controllers/user-controller.test.ts
Due: prettier, eslint, typescript-check, tests

fix: resolve pre-commit quality checks
  src/presentation/exception/handler.ts
  test/application/usecases/user-usecase.test.ts
  test/presentation/controllers/user-controller.test.ts
Due: prettier, eslint, typescript-check, tests

feat: add class usage prevention system
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check-no-classes.sh
Due: prettier

refactor: optimize CI workflow efficiency
  .github/workflows/ci.yml
Due: prettier

fix: セットアップを共通化して効率向上
  .github/workflows/ci.yml
Due: prettier

chore: 順序を変更
  .pre-commit-config.yaml
Due: prettier

chore: 空行を追加
  scripts/check-no-classes.sh
Due: none

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yml|yaml)$
  eslint: any of: \.(ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  tests: any of: \.(ts|tsx)$
